.listGroupWrapper {
    width: 100%;
    padding: 10px;
}

.listGroup {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.listItem {
    color: white;
    cursor: pointer;
}

.listItemLink {
    text-decoration: none;
    color: #1e6f9f;
}
